<div class="g-grid {{ page.header.cssclass }}">
	<div class="g-block size-10">
		<div class="spacer"></div>
	</div>
	<div class="g-block size-80 padding-side">

		{{ content|raw }}

	</div>
	<div class="g-block size-10">
		<div class="spacer"></div>
	</div>
</div>