<li class="rrssb-facebook">
    <a target="_blank" onclick="ga('send','event','{{ share_eventCategory }}','Share','{{ share_eventLabelFrom }}-to-FB')" href="http://www.facebook.com/sharer.php?s=100&p[title]=Questions%20to%20Ask%20Interviewer%20-%20The%20Ultimate%20Guide%20to%20Asking%20Questions%20in%20a%20Job%20Interview&p[summary]=The%20most%20extensive%20and%20detailed%20job%20seeker's%20guide%20to%20asking%20questions%20in%20a%20job%20interview%20that%20exists%20today.&p[url]={{ fb_share }}&p[images][0]=http://questionsforinterviewer.com/images/questions%20to%20ask%20in%20an%20interview%20-%20linkedin%20cover.png" class="popup">
            <span class="rrssb-icon">
              <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="29" height="29" viewBox="0 0 29 29">
                  <path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"
                        class="cls-2" fill-rule="evenodd" />
              </svg>
            </span>
        <span class="rrssb-text">{{ label }}</span>
    </a>
</li>